* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.header {
  padding: 25px 0 15px 0;
}
.header .header__container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  display: block;
  cursor: pointer;
}
.header .header__logo:focus {
  outline: none;
}
.header .header__logo .header__logo-img {
  width: 200px;
  height: 55px;
}

@media (max-width: 1200px) {
  .header .header__container {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 990px) {
  .header .header__container {
    max-width: 720px;
  }
}
@media (max-width: 759px) {
  .header .header__container {
    max-width: 540px;
  }
}
.score .score__text {
  font-size: 18.75px;
  font-weight: 500;
}

.game-field .game-field__container {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.game-field .game-field__container .game-field__rounds {
  margin-bottom: 25px;
}
.game-field .game-field__container .game-field__random-bird {
  margin-bottom: 25px;
  border-radius: 5px;
}
.game-field .game-field__container .game-field__game-wrapper {
  display: flex;
  justify-content: space-between;
}
.game-field .game-field__container .game-field__game-wrapper .game-field__variants {
  background-color: #303030;
  border-radius: 5px;
  flex: 50%;
  margin-right: 25px;
}
.game-field .game-field__container .game-field__game-wrapper .game-field__chosen-bird-info {
  border-radius: 5px;
  overflow: hidden;
  flex: 50%;
}
.game-field .game-field__container .game-field__next-btn {
  margin: 25px 0;
  text-align: center;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .game-field .game-field__container {
    max-width: 960px;
    padding: 0 15px;
  }
}
@media (max-width: 990px) {
  .game-field .game-field__container {
    max-width: 720px;
  }
}
@media (max-width: 759px) {
  .game-field .game-field__container {
    max-width: 540px;
  }
  .game-field .game-field__container .game-field__game-wrapper {
    flex-direction: column;
  }
  .game-field .game-field__container .game-field__game-wrapper .game-field__variants {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.rounds-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  background-color: #008966;
  border-radius: 5px;
  overflow: hidden;
}
.rounds-list .rounds-list__item {
  padding: 8px 0;
  flex: auto;
  text-align: center;
  cursor: pointer;
}
.rounds-list .rounds-list__item .rounds-list__link {
  text-decoration: none;
  color: #fff;
}

.rounds-list__item_active {
  background-color: #00bc8c;
}

@media (max-width: 990px) {
  .rounds-list .rounds-list__item {
    padding: 8px 12px;
  }
}
.random-bird {
  background-color: #303030;
  padding: 15px;
  height: 100%;
}
.random-bird .random-bird__header {
  display: flex;
  align-items: center;
}
.random-bird .random-bird__header .random-bird__bird-img {
  margin: 4px;
  width: 200px;
  height: 155px;
  border-radius: 10px;
  background-image: url("https://live.staticflickr.com//65535//49298804222_474cfe8682.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.random-bird .random-bird__header .random-bird__bird-info {
  flex: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.random-bird .random-bird__header .random-bird__bird-info .random-bird__title .random-bird__random-name {
  font-size: 32px;
  font-weight: 500;
}
.random-bird .random-bird__header .random-bird__bird-info .random-bird__title .random-bird__choosen-name {
  font-size: 22.5px;
  font-weight: 500;
}
.random-bird .random-bird__header .random-bird__bird-info .random-bird__latin-title {
  margin-top: 8px;
}
.random-bird .random-bird__header .random-bird__bird-info .random-bird__latin-title .random-bird__latin-name {
  font-size: 15px;
}
.random-bird .random-bird__header .random-bird__bird-info .random-bird__voice {
  padding-top: 10px;
}
.random-bird .random-bird__body {
  margin-top: 15px;
}
.random-bird .random-bird__body .random-bird__about .random-bird__about-text {
  line-height: 22.5px;
}

.random-bird__title::after,
.random-bird__latin-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #555;
  margin-top: 8px;
}

@media (max-width: 990px) {
  .game-field__chosen-bird-info .random-bird__header {
    flex-direction: column;
  }
  .game-field__chosen-bird-info .random-bird__header .random-bird__bird-info {
    width: 100%;
  }
}
@media (max-width: 570px) {
  .random-bird__header {
    flex-direction: column;
  }
  .random-bird__header .random-bird__bird-info {
    width: 100%;
    padding: 0;
    margin-top: 15px;
  }
  .random-bird__header .random-bird__bird-info .random-bird__title {
    text-align: center;
  }
}
.player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
}
.player .player__playback-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px #008966 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}
.player .player__timebar {
  position: relative;
  flex: auto;
}
.player .player__timebar .player__timebar-bar {
  height: 4px;
  background-color: #999;
}
.player .player__timebar .player__timebar-bar .player__timebar-circle {
  position: absolute;
  top: -6px;
  left: 0%;
  width: 16px;
  height: 16px;
  background-color: #999;
  border-radius: 50%;
  cursor: pointer;
}
.player .player__timebar .player__time-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 11px;
  color: #999;
  cursor: pointer;
}

.play-icon {
  width: 18px;
  height: 18px;
  background: url("../src/icons/play-icon.png") no-repeat center;
  background-size: contain;
}

.pause-icon {
  width: 18px;
  height: 18px;
  background: url("../src/icons/pause-icon.png") no-repeat center;
  background-size: contain;
}

.inactive {
  background-color: #999;
}

.wrong {
  background-color: #d62c1a;
}

.correct {
  background-color: #00bc8c;
}

.next-active {
  background-color: #00bc8c;
}

.next-inactive {
  background-color: #303030;
  border: 0.5px #555 solid;
}

.variants-list {
  list-style: none;
  border: 0.5px #555 solid;
  height: 100%;
}
.variants-list .variants-list__variant {
  padding: 14px 20px;
  border-bottom: 0.5px #555 solid;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.variants-list .variants-list__variant:last-child {
  border-bottom: none;
}
.variants-list .variants-list__variant .variants-list__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 15px;
}

/*# sourceMappingURL=style.css.map */
