//Плеер

.play-icon {
  width: 18px;
  height: 18px;
  background: url("src/icons/play-icon.png") no-repeat center;
  background-size: contain;
}

.pause-icon {
  width: 18px;
  height: 18px;
  background: url("src/icons/pause-icon.png") no-repeat center;
  background-size: contain;
}

//Варианты ответа
.inactive {
  background-color: $gray;
}

.wrong {
  background-color: $red;
}

.correct {
  background-color: $green-light;
}

//Кнопка перехожа на другой уровень
.next-active {
  background-color: $green-light;
}

.next-inactive {
  background-color: $gray-dark;
  border: 0.5px $border solid;
}
