.game-field {
  .game-field__container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .game-field__rounds {
      margin-bottom: 25px;
    }

    .game-field__random-bird {
      margin-bottom: 25px;
      border-radius: 5px;
    }

    .game-field__game-wrapper {
      display: flex;
      justify-content: space-between;

      .game-field__variants {
        background-color: $gray-dark;
        border-radius: 5px;
        flex: 50%;
        margin-right: 25px;
      }

      .game-field__chosen-bird-info {
        border-radius: 5px;
        overflow: hidden;
        flex: 50%;
      }
    }

    .game-field__next-btn {
      margin: 25px 15px;
      text-align: center;
      padding: 6px 12px;
      border-radius: 5px;
      background-color: $green-light;
      cursor: pointer;
    }
  }
}

//Адаптив
@media (max-width: 1200px) {
  .game-field {
    .game-field__container {
      max-width: 960px;
      padding: 0 15px;
    }
  }
}

@media (max-width: 990px) {
  .game-field {
    .game-field__container {
      max-width: 720px;
    }
  }
}

@media (max-width: 759px) {
  .game-field {
    .game-field__container {
      max-width: 540px;
    }
  }
}
