.header {
  padding: 25px 0 15px 0;

  .header__container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    display: block;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    .header__logo-img {
      width: 200px;
      height: 55px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .header__container {
      max-width: 960px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (max-width: 990px) {
  .header {
    .header__container {
      max-width: 720px;
    }
  }
}

@media (max-width: 759px) {
  .header {
    .header__container {
      max-width: 540px;
    }
  }
}
