.random-bird {
  display: flex;
  align-items: center;
  background-color: $gray-dark;
  padding: 15px;

  .random-bird__bird-img {
    margin: 4px;
    width: 200px;
    height: 155px;
    border-radius: 10px;
    background-image: url("https://live.staticflickr.com//65535//49298804222_474cfe8682.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .random-bird__bird-info {
    flex: auto;
    padding-left: 40px;
    padding-right: 40px;

    .random-bird__title {
      .random-bird__name {
        font-size: 32px;
        font-weight: 500;
      }
    }

    .random-bird__voice {
      padding-top: 10px;
    }
  }
}

.random-bird__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $gray;
  margin-top: 8px;
}
